#front-card-container {
    display: grid;
    position: relative;
}

#back-card-container {
    display: grid;
    position: relative;
    justify-items: center;
}

#card-front-input {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    width: 400px;
    margin: 0px 0px 20px 22.5px;
    align-self: end;
    row-gap: 20px;
}

#front-card-date, #front-card-date input, #front-card-name, #front-card-number, #back-card-cvv {
    color: white;
    background-color: transparent;
    box-shadow: none;
    border-style: unset;
    text-indent: 0%;
    font-weight: 400;
    letter-spacing: 0.1em;
}

#front-card-number {
    grid-column-end: span 2;
    font-size: 1.75em;
}

#front-card-date {
    grid-column-start: 2;
    display: flex;
    width: 70px;
    justify-self: end;
    justify-content: flex-end;
    text-align: right;
}

#front-card-name {
    grid-column-start: 1;
    width: auto;
    text-transform: uppercase;
}

#card-back-input {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-self: center;
    width: 400px;
}

#back-card-cvv {
    width: 70px;
    text-align: end;
    justify-self: flex-end;
}

#front-card-date input {
    height: 35px;
    width: 25px;
}