@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
}

main {
    display: grid;
    grid-auto-flow: column;
    gap: 50px;
    position: relative;
}

#purple-background {
    background-image: url(../images/bg-main-desktop.png);
    background-size: cover;
    height: 100vh;
    max-width: 60%;
}

#card {
    position: absolute;
    top: 20%;
    left: 15%;
    display: grid;
    grid-template-rows: 245px;
    grid-template-columns: 500px;
    gap: 30px;
    scale: 0.9;
}

#card img {
    box-shadow: -10px 20px 25px hsla(278, 68%, 11%, 0.13);
}

#back-card {
    justify-self: end;
}

.form-section {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

form {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 20px;
    max-width: 300px;
    min-width: 300px;
    scale: 1.1;
}

form > div {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

label {
    font-size: 10px;
    font-weight: 600;
    color: hsl(278, 67%, 19%);
    letter-spacing: 0.1em;
}

#first-child, #second-child {
    font-size: 12px;
    font-weight: 500;
    color: hsl(278, 67%, 19%);
}

input {
    font-size: 14px;
    height: 35px;
    border-style: hidden;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    font-weight: 600;
    text-indent: 15px;
    color: hsl(278, 67%, 19%);
}

input::-webkit-input-placeholder {
    opacity: 30%;
}

#div-row {
    flex-direction: row;
    gap: 5px;
}

#first-child input {
    margin-top: 5px;
    width: 57px;
}

#second-child input {
    margin-top: 5px;
}

button {
    background-color: hsl(278, 68%, 11%);
    color: white;
    height: 40px;
    border-radius: 5px;
}

#error {
    font-size: 12px;
    color: red;
    border-color: red;
}

.input {
    font-size: 14px;
    height: 35px;
    border-style: hidden;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.212);
    border-radius: 8px;
    font-weight: 600;
    text-indent: 15px;
    color: hsl(278, 67%, 19%);
}

.input_error {
    font-size: 14px;
    height: 35px;
    border-style: hidden;
    box-shadow: inset 0px 0px 1px 1px hsl(347, 81%, 48%);
    border-radius: 8px;
    font-weight: 600;
    text-indent: 15px;
    color: hsl(347, 81%, 48%);
}
